.global_navigation {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #242424;
  padding: 10px;
  font-family: "Pacifico", cursive; }

.global_navigation_list_item a:link, .global_navigation_list_item a:visited {
  color: #ff4500;
  text-decoration: none; }

.global .contact {
  width: 100%;
  height: 100hv;
  margin-top: 60px; }

.page_header {
  min-height: 800px;
  -webkit-box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.75);
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed; }

.page_header .page_header_content {
  display: flex;
  justify-content: center;
  color: #faebd7;
  margin-top: 38px;
  font-family: "Josefin Sans", sans-serif; }

.page_gallery {
  width: 100%;
  min-height: 800px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0; }

.page_footer {
  background: #000;
  color: #fff;
  padding: 40px 0;
  position: fixed;
  z-index: -3;
  bottom: 0;
  width: 100%;
  text-align: center; }

.global {
  position: relative;
  background-image: url(../images/back-gallery.png);
  z-index: 3;
  margin: auto auto 120px; }
  .global_navigation_list {
    margin-bottom: 0; }
    .global_navigation_list_item {
      margin-left: 20px; }
      .global_navigation_list_item-first {
        margin-left: 0; }
      .global_navigation_list_item a:hover, .global_navigation_list_item a:active {
        color: #dd2300; }
  .global_navigation.page-one .one {
    border-bottom: 3px solid #ff4500; }
  .global_navigation.page-one .two, .global_navigation.page-one .tree {
    border-bottom: none; }
  .global_navigation.page-two .two {
    border-bottom: 3px solid #ff4500; }
  .global_navigation.page-two .one, .global_navigation.page-two .tree {
    border-bottom: none; }
  .global_navigation.page-tree .tree {
    border-bottom: 3px solid #ff4500; }
  .global_navigation.page-tree .one, .global_navigation.page-tree .two {
    border-bottom: none; }

.page_header .page_header_content_item_element {
  margin-top: 110px;
  margin-bottom: 70px; }
  .page_header .page_header_content_item_element h3 {
    text-align: center; }
    .page_header .page_header_content_item_element h3 small {
      color: #ff4500; }
  .page_header .page_header_content_item_element-first {
    margin-top: 60px; }

.page_gallery_images {
  margin-top: 30px;
  display: flex;
  justify-content: center; }
  .page_gallery_images_items figure {
    position: relative;
    margin: 0 0 10px 0;
    cursor: pointer;
    overflow: hidden; }
    .page_gallery_images_items figure img {
      display: block;
      width: 100%;
      height: 115px;
      transform: scale(1);
      transition: all 0.8s ease-in-out; }
      .page_gallery_images_items figure img:hover {
        transform: scale(1.1); }

.global .gif {
  width: 100%;
  height: 450px;
  bottom: 0;
  margin: 20px 0 0 0;
  -webkit-box-shadow: inset 0px 0px 21px 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 21px 8px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 21px 8px rgba(0, 0, 0, 0.8);
  background-image: url(../images/gif1.gif);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  background-position: 50%; }

.contact {
  padding: 150px;
  -webkit-box-shadow: 0px -4px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 3px 1px rgba(0, 0, 0, 0.75);
  background-image: url(../images/img20.jpg);
  background-size: cover; }
  .contact .contact-form {
    position: relative;
    max-width: 400px;
    font-family: "Josefin Sans", sans-serif;
    color: #faebd7;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.9s ease-in-out; }
    .contact .contact-form h3 {
      color: #ff4500; }
    .contact .contact-form input, .contact .contact-form textarea, .contact .contact-form button {
      opacity: 0.5; }
    .contact .contact-form.is-showing {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.8s ease-in-out; }

@media (min-width: 768px) and (max-width: 1199px) {
  .global .contact {
    margin-top: 50px; }

  .page_header_content_item {
    margin-top: 150px; }
  .page_header_content .page_header_content_item_element {
    margin-top: 250px; }
    .page_header_content .page_header_content_item_element-first {
      margin-top: -20px; }

  .page_gallery .page_gallery_images {
    margin-top: 40px; } }
@media (min-width: 1200px) and (max-width: 1900px) {
  .page_header .page_header_content_item {
    margin-top: 85px; }
    .page_header .page_header_content_item .page_header_content_item_element-last {
      margin-top: 250px; }
  .page_header .page_header_content_item_element {
    margin-top: 0px; }

  .page_gallery {
    min-height: auto; }
    .page_gallery_images {
      margin-top: 130px;
      margin-bottom: 100px; }
      .page_gallery_images_items {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2; } }
@media (min-width: 1901px) {
  .page_gallery {
    min-height: auto; }
    .page_gallery_images {
      margin-top: 130px;
      margin-bottom: 100px; }
      .page_gallery_images_items {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2; } }

/*# sourceMappingURL=app.css.map */
