.global {
  position: relative;

  background: {
    image: url(../images/back-gallery.png);
  }

  z-index: 3;
  margin: auto auto 120px;

  @include e("navigation") {
    @extend %navigation-menu;

    @include e("list") {
      margin-bottom: 0;

      @include e("item") {
        margin-left: 20px;

        @include m("first") {
          margin-left: 0;
        }
        a:link, a:visited {
          @extend %navigation-menu-link;
        }
        a:hover, a:active {
          color: #dd2300;
        }
      }
    }

    &.page-one {
      .one {
        border-bottom: 3px solid #ff4500;
      }
      .two, .tree {
        border-bottom: none;
      }
    }
    &.page-two {

      .two {
        border-bottom : 3px solid #ff4500;
      }
      .one, .tree {
        border-bottom: none;
      }
    }
    &.page-tree {
      .tree {
        border-bottom: 3px solid #ff4500;
      }
      .one, .two {
        border-bottom: none;
      }
    }
  }


  .contact {
    @extend %contact;
  }

}


.page_header {
  @extend %page-header;
    .page_header_content {
    @extend %page-header-content;

    @include e("item") {

      @include e("element") {
        margin-top: 110px;
        margin-bottom: 70px;
        h3 {
          text-align: center;
          small {
            color: #ff4500;
          }
        }
        @include m("first") {
          margin-top: 60px;
        }
      }
    }
  }
}

.page_gallery {
  @extend %page-gallery;

  @include e("images") {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    @include e("items") {

      figure {
        position: relative;
        margin: 0 0 10px 0;
        cursor: pointer;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: 115px;

          transform: scale(1);
          transition: all 0.8s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.global .gif {
  width: 100%;
  height: 450px;
  bottom: 0;
  margin: 20px 0 0 0;

  -webkit-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.8);
  box-shadow: inset 0px 0px 21px 8px rgba(0,0,0,0.8);

  background: {
    image: url(../images/gif1.gif);
    size: cover;
    position: 100%;
    attachment: fixed;
    position: 50%;
  }
}


.contact {
  padding: 150px;
  -webkit-box-shadow: 0px -4px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 3px 1px rgba(0,0,0,0.75);

  background: {
    image: url(../images/img20.jpg);
    size: cover;

  }

  .contact-form {
    position: relative;
    max-width: 400px;
    font-family: $font-page;
    color: #faebd7;

    h3 {
      color: #ff4500;
    }

    input, textarea, button {
      opacity: 0.5;
    }

    opacity: 0;
    transform: translateX(100px);
    transition: all 0.9s ease-in-out;

    &.is-showing {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.8s ease-in-out;
    }

  }
}

.page_footer {
  @extend %page-footer;
}



@media (min-width: 768px) and (max-width: 1199px) {
  .global {
    .contact {
      margin-top: 50px;
    }
  }

  .page_header_content {
    @include e("item") {
      margin-top: 150px;
    }
    .page_header_content_item_element {
      margin-top: 250px;
      @include m("first") {
        margin-top: -20px;
      }
    }
  }

  .page_gallery {

    .page_gallery_images {
      margin-top: 40px;
    }

  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .page_header {
    .page_header_content {
      @include e("item") {
        margin-top: 85px;

        .page_header_content_item_element-last {
          margin-top: 250px;
        }
      }
    }
    .page_header_content_item_element {
      margin-top: 0px;
    }
  }

  .page_gallery {
    min-height: auto;

    @include e("images") {
      margin-top: 130px;
      margin-bottom: 100px;
      @include e("items") {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

      }
    }
  }
}

@media (min-width: 1901px) {
  .page_gallery {
    min-height: auto;
    @include e("images") {
      margin-top: 130px;
      margin-bottom: 100px;
      @include e("items") {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }
    }
  }
}
